<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="profile-picture">
    <ion-img src="https://media-exp1.licdn.com/dms/image/C4E03AQHSZGre8sOvUQ/profile-displayphoto-shrink_800_800/0/1602531496335?e=1626307200&v=beta&t=NEkgg2Q_YxVPV3IA0DMGDlwmGKvD6u1QdB4gZMX8h0M">

    </ion-img>
  </ion-avatar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Kameron Hartman
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      That's me!
    </ion-card-content>
  </ion-card>
</ion-content>
