<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar (click)="selectImageSource()" class="profile-picture">
    <ion-img [src]="myProfileImage">

    </ion-img>
  </ion-avatar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Kameron Hartman
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      That's me!
    </ion-card-content>
  </ion-card>
</ion-content>
